@keyframes blink-critical {
    to {
        background-color: @red;
    }
}

@define-color black    #1a1b26;
@define-color red      #f7768e;
@define-color green    #9ece6a;
@define-color yellow   #e0af68;
@define-color blue     #7aa2f7;
@define-color purple   #bb9af7;
@define-color aqua     #7dcfff;
@define-color gray     #565f89;
@define-color white    #c0caf5;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

#waybar {
    color: @white;
    background: @black;
    font-family: "Ricty Nerd Font";
    font-weight: bold;
    font-size: 16px;
}

#battery,
#clock,
#cpu,
#custom-logo,
#language,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#window {
    color: @white;
    padding: 5px 10px 5px 10px;
}

#battery.warning.discharging,
#cpu.warning,
#memory.warning,
#network.disconnected,
#temperature.warning {
    color: @red;
}

#workspaces button {
    color: @white;
    background: @black;
    padding: 5px 10px 5px 10px;
}

#workspaces button.visible {
    color: @green;
}

#workspaces button.focused {
    color: @black;
    background: @aqua;
}

#workspaces button.urgent {
    color: @black;
    background: @red;
}

#workspaces button.active {
    color: @black;
    background: @green;
}

#workspaces button:hover {
    color: @white;
    background: @black;
}

#window {
}

#pulseaudio.muted {
    color: @gray;
}

#network.ethernet,
#network.linked,
#network.wifi {
    color: @green;
}

#memory {
}

#cpu {
}

#temperature {
}

#language {
}

#battery.critical {
    color: @yellow;
}

#battery.warning {
    color: @red;
}

#tray {
}

#clock {
    color: @black;
    background: @white;
    font-feature-settings: "tnum";
}

#custom-logo {
    color: @blue;
}
