@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraMono Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: @base;
	border-radius: 6px;
	border-width: 0px;
	border-style: solid;
	border-color: @base;
}

#workspaces button {
    background-color: @surface0;
    color: @text;
    padding: 5px 10px;
}

#workspaces button.active {
    color: @base;
    background-color: @blue;
}

#workspaces button.urgent {
    color: @base;
    background-color: @peach;
}

#workspaces button:hover {
	background-color: @blue;
	color: @base;
}

#workspaces button:first-child {
	border-radius: 6px 0px 0px 6px;
}

#workspaces button:last-child {
	border-radius: 0px 6px 6px 0px;
}

#custom-logo, #clock, #battery, #pulseaudio, #tray, #network, #cpu, #memory, #workspaces {
	background-color: @base;
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: @base;
	/*border-radius: 6px 0px 0px 6px;*/
    padding: 5px 5px;
}

#custom-logo {
    color: @blue;
	border-radius: 6px 0px 0px 6px;
    padding-left: 12px;
}

#clock {
    background: @surface0;
    color: @text;
    border-radius: 0px 6px 6px 0px;
    margin-right: 10px;
    padding-right: 10px;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @yellow;
}

#battery.warning:not(.charging) {
    background-color: @peach;
    color: @base;
}

#network {
	color: @green;
	border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
	color: @green;
}

#cpu {
	color: @green;
}

#memory {
	color: @green;
}

#tray {
	color: @green;
}
